@import "../../styles/mixins.scss";

.title {
  max-width: 650px;
  margin: 40px auto;
  font-size: 88px;
  font-weight: 700;
  line-height: 98px;
  text-align: center;

  @include l {
    margin: 20px auto;
    max-width: 365px;
    font-size: 66px;
    font-weight: 700;
    line-height: 70px;
  }

  @include s {
    font-size: 56px;
  }
}