.todo-navbar {
  display: flex;
  flex-direction: column;
}

.todo-navbar__container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.todo-counters__text {
  cursor: pointer;
  margin-right: 5px;
}

.todo-counters__text_focus {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.todo-counters__text:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.todo-navbar__common {
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.todo-navbar__common:hover {
  background-color: #f4f0e9;
}

.todo-navbar__common-container {
  display: block;
  padding: 4px 10px;
  max-width: fit-content;
  transform: translate(-11px, 10px);
  background-color: #ffffff;
  border-radius: 10px;
}

.todo-navbar__common_type_check {
  margin-right: 20px;
}

.todo-navbar__common_type_check::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo-navbar__common_type_disable {
  opacity: 0.3;
  cursor: default;
}

.todo-navbar__clear {
  margin-right: 10px;
}

.todo-navbar__clear:last-of-type {
  margin-right: 0;
}

.todo-navbar__clear_type_all {
  cursor: pointer;
}

.todo-navbar__clear_type_all:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.todo-navbar__clear_type_completed {
  cursor: pointer;
}

.todo-navbar__clear_type_completed:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.todo-counters__counter {
  margin-right: 17px;
}

.todo-counters__counter:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .todo-navbar__container {
    flex-direction: column;
    align-items: center;
  }

  .todo-counters {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .todo-navbar__common-container {
    transform: translate(-9px, 10px);
  }
}

@media screen and (max-width: 380px) {
  .todo-navbar__container {
    font-size: 14px;
  }
}
